<footer>

    <div class="container footer-content">

        <div>
            <h3>Контакты</h3>
            <p>mindscaping@gmail.com</p>
            <p>mindscaping@yandex.ru</p>
        </div>

        <div>
            <h3>Навигация</h3>
            <p><a href="index.html">Главная</a></p>
            <p><a href="about.html">О нас</a></p>
            <p><a href="catalog.html">Каталог</a></p>
            <p><a href="blog.html">Блог</a></p>
        </div>

        <div>
            <h2>MindScaping</h2>
        </div>

    </div>

</footer>